ul li{
    display: inline;
    margin-right: 15px;
    font-size: 30px;
}
header{
    /* text-align: center; */
}
ul li a{
    text-decoration: none;
}
footer{
    text-align: center;
    margin-top: 150px;
}